<!DOCTYPE html>
<html>
<head>
<title>OmegaNews</title>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel='stylesheet'
    type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Custom Theme files -->
<link th:href="@{/bootstrap/css/style.css}" rel="stylesheet" type="text/css"
    media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
    content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
    
    
    
    
     addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 




</script>
<!-- for bootstrap working -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.js}"></script>
<!-- //for bootstrap working -->
<!-- web-fonts -->
<link
    href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Varela+Round'
    rel='stylesheet' type='text/css'>
<script th:src="@{/js/responsiveslides.min.js}"></script>
<script>
    $(function() {
        $("#slider").responsiveSlides({
            auto : true,
            nav : true,
            speed : 500,
            namespace : "callbacks",
            pager : true,
        });
    });
</script>
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<!--/script-->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop : $(this.hash).offset().top
            }, 900);
        });
    });
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header" th:fragment="headertop">
		<div class="header-bottom">
			<div class="logo text-center">
				<a href="index.html"><img th:src="@{/bootstrap/images/logo.jpg}" alt="" /></a>
			</div>
			<div class="navigation">
				<nav class="navbar navbar-default" role="navigation">
					<div class="wrap">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>

						</div>
						<!--/.navbar-header-->

						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/">首页</a></li>
								<li th:each="category:${categories}"><a class="category"
									th:id="${category.categoryName}"
									th:text="${category.chineseName}"></a></li>
								<div class="clearfix"></div>
							</ul>
							<div class="search">
								<!-- start search-->
								<div class="search-box">
									<div id="sb-search" class="sb-search">
										<form>
											<input class="sb-search-input"
												placeholder="Enter your search term..." type="search"
												name="search" id="search"> <input
												class="sb-search-submit" type="submit" value=""> <span
												class="sb-icon-search"> </span>
										</form>
									</div>
								</div>
								<!-- search-scripts -->
								<script th:src="@{/js/classie.js}"></script>
								<script th:src="@{/js/uisearch.js}"></script>
								<script>
									new UISearch(document
											.getElementById('sb-search'));
								</script>
								<!-- //search-scripts -->
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
			</div>
			</nav>
		</div>
	</div>
	<!-- header-section-ends-here -->
	<div class="wrap" th:fragment="wrap">
		<div class="move-text">
			<div class="breaking_news">
				<h2>爆点新闻</h2>
			</div>
			<div class="marquee">
				<div class="marquee1">
					<a class="breaking" href="single.html">杜佑宸创建的AI独角兽Omega即将在美上市，创今年最大IPO</a>
				</div>
				<div class="marquee2">
					<a class="breaking" href="single.html">>>At vero eos et
						accusamus et iusto qui blanditiis praesentium voluptatum deleniti
						atque..</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<script type="text/javascript" th:src="@{/js/jquery.marquee.min.js}"></script>
			<script>
				$('.marquee').marquee({
					pauseOnHover : true
				});
			</script>
		</div>
	</div>
	<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left" id="replacement">
				<div class="articles">
					<header>
						<h3 class="title-head">最新资讯</h3>
					</header>
					<div class="article" th:each="news:${newsList}" >
						<div class="article-left">
							<a th:href="'single/'+${news.docid}"><img th:src="${news.imgsrc}"></a>
						</div>
						<div class="article-right">
							<div class="article-title">
								<p>
									<a class="span_link" href="#" th:text="${news.commentCount}"><span
										class="glyphicon glyphicon-comment"></span> </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-eye-open"></span>104 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span>52</a>
								</p>
								<a class="title" th:href="'single/'+${news.docid}" th:text="${news.title}">
								</a>
							</div>
							<div class="article-text">
								<p th:text="${news.digest}"></p>
								<a th:href="'single/'+${news.docid}"><img th:src="@{/bootstrap/images/more.png}"
									alt="图片飞走了" /></a>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
			<div class="col-md-4 side-bar" th:fragment="right">
				<div class="first_half">

					<div class="list_vertical">
						<section class="accordation_menu">
							<div>
								<input id="label-1" name="lida" type="radio" checked /> <label
									for="label-1" id="item1"><i class="ferme"> </i>Popular
									Posts<i class="icon-plus-sign i-right1"></i><i
									class="icon-minus-sign i-right2"></i></label>
								<div class="content" id="a1">
									<div class="scrollbar" id="style-2">
										<div class="force-overflow">
											<div class="popular-post-grids">
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/bus2.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html"> The section of
															the mass media industry</a>
														<p>
															On Feb 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>3 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/bus1.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html"> Lorem Ipsum is
															simply dummy text printing</a>
														<p>
															On Apr 14 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>2 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/bus3.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html">There are many
															variations of Lorem</a>
														<p>
															On Jun 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>0 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/bus4.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html">Sed ut
															perspiciatis unde omnis iste natus</a>
														<p>
															On Jan 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>1 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<input id="label-2" name="lida" type="radio" /> <label
									for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Recent
									Posts<i class="icon-plus-sign i-right1"></i><i
									class="icon-minus-sign i-right2"></i></label>
								<div class="content" id="a2">
									<div class="scrollbar" id="style-2">
										<div class="force-overflow">
											<div class="popular-post-grids">
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/tec2.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html"> The section of
															the mass media industry</a>
														<p>
															On Feb 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>3 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/tec1.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html"> Lorem Ipsum is
															simply dummy text printing</a>
														<p>
															On Apr 14 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>2 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/tec3.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html">There are many
															variations of Lorem</a>
														<p>
															On Jun 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>0 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="popular-post-grid">
													<div class="post-img">
														<a href="single.html"><img
															th:src="@{/bootstrap/images/tec4.jpg}" alt="" /></a>
													</div>
													<div class="post-text">
														<a class="pp-title" href="single.html">Sed ut
															perspiciatis unde omnis iste natus</a>
														<p>
															On Jan 25 <a class="span_link" href="#"><span
																class="glyphicon glyphicon-comment"></span>1 </a><a
																class="span_link" href="#"><span
																class="glyphicon glyphicon-eye-open"></span>56 </a>
														</p>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>

				</div>
				<div class="secound_half">
					<div class="tags">
						<header>
							<h3 class="title-head">Tags</h3>
						</header>
						<p>
							<a class="tag1" href="single.html">At vero eos</a> <a
								class="tag2" href="single.html">doloremque</a> <a class="tag3"
								href="single.html">On the other</a> <a class="tag4"
								href="single.html">pain was</a> <a class="tag5"
								href="single.html">rationally encounter</a> <a class="tag6"
								href="single.html">praesentium voluptatum</a> <a class="tag7"
								href="single.html">est, omnis</a> <a class="tag8"
								href="single.html">who are so beguiled</a> <a class="tag9"
								href="single.html">when nothing</a> <a class="tag10"
								href="single.html">owing to the</a> <a class="tag11"
								href="single.html">pains to avoid</a> <a class="tag12"
								href="single.html">tempora incidunt</a> <a class="tag13"
								href="single.html">pursues or desires</a> <a class="tag14"
								href="single.html">Bonorum et</a> <a class="tag15"
								href="single.html">written by Cicero</a> <a class="tag16"
								href="single.html">Ipsum passage</a> <a class="tag17"
								href="single.html">exercitationem ullam</a> <a class="tag18"
								href="single.html">mistaken idea</a> <a class="tag19"
								href="single.html">ducimus qui</a> <a class="tag20"
								href="single.html">holds in these</a>
						</p>
					</div>
					<div class="popular-news">
						<header>
							<h3 class="title-popular">热门新闻</h3>
						</header>
						<div class="popular-grids">
							<div class="popular-grid">
								<a href="single.html"><img
									th:src="@{/bootstrap/images/popular-4.jpg}" alt="" /></a> <a
									class="title" href="single.html">It is a long established
									fact that a reader will be distracted</a>
								<p>
									On Aug 31, 2015 <a class="span_link" href="#"><span
										class="glyphicon glyphicon-comment"></span>0 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-eye-open"></span>250 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span>68</a>
								</p>
							</div>
							<div class="popular-grid">
								<a href="single.html"><img
									th:src="@{/bootstrap/images/popular-1.jpg}" alt="" /></a> <a
									class="title" href="single.html">It is a long established
									fact that a reader will be distracted</a>
								<p>
									On Mar 14, 2015 <a class="span_link" href="#"><span
										class="glyphicon glyphicon-comment"></span>0 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-eye-open"></span>250 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span>68</a>
								</p>
							</div>
							<div class="popular-grid">
								<iframe width="100%"
									th:src="@{https://www.youtube.com/embed/LGMn_yi_62k}" frameborder="0"
									allowfullscreen></iframe>
								<a class="title" href="single.html">Aishwarya Rai Bachchan's
									Latest SHOCKING News For Ex Salman Khan</a>
								<p>
									On Mar 14, 2015 <a class="span_link" href="#"><span
										class="glyphicon glyphicon-comment"></span>0 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-eye-open"></span>250 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span>68</a>
								</p>
							</div>
							<div class="popular-grid">
								<a href="single.html"><img
									th:src="@{/bootstrap/images/popular-3.jpg}" alt="" /></a> <a
									class="title" href="single.html">It is a long established
									fact that a reader will be distracted</a>
								<p>
									On Mar 14, 2015 <a class="span_link" href="#"><span
										class="glyphicon glyphicon-comment"></span>0 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-eye-open"></span>250 </a><a
										class="span_link" href="#"><span
										class="glyphicon glyphicon-thumbs-up"></span>68</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<div class="footer" th:fragment="footer">

		<div class="footer-bottom">
			<div class="wrap">
				<div class="copyrights col-md-6">
					<p>
						© 2017 Express News. All Rights Reserved | Design by <a
							href="http://w3layouts.com/"> W3layouts</a>
					</p>
				</div>
				<div class="footer-social-icons col-md-6">
					<ul>
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="flickr" href="#"></a></li>
						<li><a class="googleplus" href="#"></a></li>
						<li><a class="dribbble" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- footer-section-ends-here -->

	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
			wrapID: 'toTop', // fading element id
			wrapHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
			 */
			$().UItoTop({
				easingType : 'easeOutQuart'
			});
		});
	</script>
	<a href="#to-top" id="toTop" style="display: block;"> <span
		id="toTopHover" style="opacity: 1;"> </span></a>
	<!---->
	<script th:src="@{/js/my.js}"></script>

</body>
</html>