<div class="col-md-8 content-left">
	<div class="articles sports">
			<header>
				<h3 class="title-head">Sports</h3>
			</header>
			<div class="article">
				<div class="article-left">
					<a href="single.html"><img src="images/sport1.jpg"></a>
				</div>
				<div class="article-right">
					<div class="article-title">
						<p>On Feb 25, 2015 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>104 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>52</a></p>
						<a class="title" href="single.html"> The section of the mass media industry that focuses on presenting</a>
					</div>
					<div class="article-text">
						<p>The standard chunk of Lorem Ipsum used since the 1500s. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" exact original.....</p>
						<a href="single.html"><img src="images/more.png" alt="" /></a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>

					